$theme-colors: (
        "primary": #885053,
        "secondary": #E76A77
);
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

ul, li {
  list-style: none;
}

#map {
  height: 100%;
}



