{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue sur Wild Séries!</h1>

    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>
    <br>
    <a href="{{ path('program_index') }}">Programs</a>
    <br>
    <a href="{{ path('season_index') }}">Saisons</a>
    <br>
    <a href="{{ path('episode_index') }}">Episodes</a>

{% endblock %}